<!doctype html>
<html>
<head>
    <title>Kurz or Schallenberg?</title>
</head>
<body style="background-image: linear-gradient(135deg,#2fb9c4 -2.55%,#311e70 89.9%); font-family: Source Sans Pro; color: white;">
<div id="maintext" style="position:absolute; margin:auto; width:700px; height:400px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">
  <img src="image.png" alt="Kurz-or-Schallenberg" width="150px">
  <h1> KURZ OR SCHALLENBERG? </h1>
  <span style="font-weight: 500;">Upload your image to find out.</span>
  <form method=post enctype=multipart/form-data>
     <p class="text-light">
        <input type=file name=file>
        <input type=submit value=Upload>
     </p>
  </form>
</div>
</body>
</html>
